<div class="container">

  <h1>Reservations</h1>
  

<%= month_calendar  events: @reservations do  |date, meetings| %>
  <% if user_signed_in? && date.future? %>
    <%= link_to date.strftime("%m/%d"), new_reservation_path(:slotdate => date.to_s)  %>
  <% else %>
    <%= date.strftime("%m/%d") %>
  <% end %>

  <% meetings.each do |meeting| %>
    <div>
      <%= meeting.slot.strftime("%l:%M %p") %></br>
      (<%= link_to meeting.name, meeting %>)
    </div>
  <% end %>
<% end %>
  
  <br>
  
  <% if user_signed_in? %>
    <%= link_to 'New Reservation', new_reservation_path %>
  <% end %>
</div>
